﻿@media only screen and (max-width: 1400px) {
    .app_download_link{
        float: none;
        margin-top: 20px;
        display: inline-block;
    }
}
@media only screen and (max-width: 1230px) {

}
@media only screen and (max-width: 1190px) {
    .app1_td1{
        width: 60%;
        border-right: 1px solid #e6e6e6;
        font-size: 14px;
    }
    .app1_td2{
        width: 40%;
    }
    .add_app_wp{
        float: none;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .sb_fl{
        float: none;
    }
    .search_period{
        float: none;
        margin-left: 0;
        margin-bottom: 20px;
    }
}
@media only screen and (max-width: 1110px) {
    .information_block{
        margin: 10px 5px;
    }
}
@media only screen and (max-width: 1080px) {
    .information_block{
        float: none;
        margin: 10px auto;
    }
}
@media only screen and (max-width: 970px) {
    .at_td1{
        width: 240px;!important;
        min-width: 240px;!important;
    }
}
@media only screen and (max-width: 960px) {
.mob_pn{
    padding-right: 0;
}
}
@media only screen and (max-width: 920px) {
    .app1_td1{
        width: 70%;
        border-right: 1px solid #e6e6e6;
        font-size: 14px;
    }
    .app1_td2{
        width: 30%;
    }
}
@media only screen and (max-width: 870px) {
    .search_period span{
        display: block;
        margin: 10px 0 10px 0;
    }
    .search_period select{
        display: block;
    }
}
@media only screen and (max-width: 800px) {
    .app1_td1{
       width: 300px;
        min-width: 300px;
    }
    .app1_td2{
       width: 200px;
        min-width: 200px;
    }
    .add_app_wp a{
        padding: 7px;
    }
    .sb_fl {
        position: relative;
        width: 280px;
        height: 40px;
        box-sizing: border-box;
        border: 1px solid #e0e0e0;
        margin-bottom: 34px;
    }
    .sb_fl input{
        width: 225px;
        height: 100%;
        border: none;
        box-sizing: border-box;
        display: inline-block;
        vertical-align: middle;
        font-size: 14px;
        padding-left: 20px;
    }
    .mob_b{
        display: block;
        height: 20px;
    }
    .search_period span{
        width: 70px;
        display: inline-block;
    }
    .app_choice_block{
        float: none;
    }
    .app_choice_link{
        margin-bottom: 20px;
        display: inline-block;
    }

}
@media only screen and (max-width: 767px) {
.mob_dn{
    display: none;
}
    header{
        position: relative;
    }
    .login_block{
        position: absolute;
        right: 0;
        top: 0
    background: #2e93fc; /* Old browsers */
        background: -moz-linear-gradient(top,  #2e93fc 0%, #2270c1 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  #2e93fc 0%,#2270c1 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  #2e93fc 0%,#2270c1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e93fc', endColorstr='#2270c1',GradientType=0 ); /* IE6-9 */;
        z-index: 99;
    }
    #small-modal1{
        width: 300px;
        height: 100%;
        padding-bottom: 20px;
    }
    .arcticmodal-container_i2{
        padding: 0;
    }
    .modal_forma{
        padding: 15px 10px;
    }
    .mf_block input{
        float: none;
        width: 100%;
    }
    .mf_block select{
        float: none;
        width: 100%;

    }
    .mf_block p{
    width: 100%;
        float: none;
    }
    .main_forma_wp{
        width: 300px;
    }
    .main_forma1{
        width: 300px;
    }
    .main_forma{
        width: 300px;
        padding: 10px;

    }
    .form_1 .input1{
        width: 290px;
    }
    .mf_btn{
        width: 290px;
    }
    .mf_info{
        padding: 0 30px;
    }
    .mf_check {
    margin-left: 0;
    }
    .repair_link{
        margin-right: 0;
    }
}
@media only screen and (max-width: 479px) {
    header{
        overflow-y: hidden;
    }
}