/* PREFECTURA */
/* line 2, ../scss/prefectira.scss */
.prefectura-info {
  padding: 30px 15px;
  font-size: 14px;
}
/* line 5, ../scss/prefectira.scss */
.prefectura-info p {
  padding-left: 200px;
}
/* line 8, ../scss/prefectira.scss */
.prefectura-info p.name span {
  font-size: 18px;
  line-height: 1;
}
/* line 13, ../scss/prefectira.scss */
.prefectura-info p.quote {
  margin-bottom: 20px;
}

/* line 18, ../scss/prefectira.scss */
.photo {
  float: left;
  margin-right: 30px;
}

/* line 23, ../scss/prefectira.scss */
.prefectura-map {
  min-width: 100%;
  max-width: 100%;
  overflow-x: auto;
  position: relative;
}

/* line 29, ../scss/prefectira.scss */
.tool {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1010;
}

/* line 35, ../scss/prefectira.scss */
.tool img {
  position: absolute;
}

/* line 38, ../scss/prefectira.scss */
.mapq {
  background-size: cover;
  background-repeat: no-repeat !important;
}

/* line 43, ../scss/prefectira.scss */
.omap {
  position: relative;
  max-width: 960px;
  margin: 75px auto;
}

/* line 49, ../scss/prefectira.scss */
.kokowkino {
  top: 10px;
  left: 390px;
}

/* line 53, ../scss/prefectira.scss */
.troitsk {
  top: 220px;
  left: 555px;
}

/* line 57, ../scss/prefectira.scss */
.vnukovskoe {
  top: -70px;
  left: 525px;
}

/* line 61, ../scss/prefectira.scss */
.moskovskij {
  top: -30px;
  left: 640px;
}

/* line 65, ../scss/prefectira.scss */
.mosrentgen {
  top: -50px;
  left: 740px;
}

/* line 69, ../scss/prefectira.scss */
.sosentskoe {
  top: 0;
  left: 720px;
}

/* line 73, ../scss/prefectira.scss */
.werbinka {
  top: 190px;
  left: 855px;
}

/* line 77, ../scss/prefectira.scss */
.voskresenskoe {
  top: 170px;
  left: 770px;
}

/* line 81, ../scss/prefectira.scss */
.rjazanovskoe {
  top: 190px;
  left: 785px;
}

/* line 85, ../scss/prefectira.scss */
.desenovskoe {
  top: 140px;
  left: 625px;
}

/* line 89, ../scss/prefectira.scss */
.wapovskoe {
  top: 335px;
  left: 630px;
}

/* line 93, ../scss/prefectira.scss */
.klenovskoe {
  top: 530px;
  left: 580px;
}

/* line 97, ../scss/prefectira.scss */
.rogovskoe {
  top: 690px;
  left: 290px;
}

/* line 101, ../scss/prefectira.scss */
.voronovskoe {
  top: 500px;
  left: 380px;
}

/* line 105, ../scss/prefectira.scss */
.kievskij {
  top: 465px;
  left: 110px;
}

/* line 109, ../scss/prefectira.scss */
.novofedorovskoe {
  top: 210px;
  left: 60px;
}

/* line 113, ../scss/prefectira.scss */
.pervomajskoe {
  top: 115px;
  left: 430px;
}

/* line 117, ../scss/prefectira.scss */
.mihajlovo {
  top: 350px;
  left: 350px;
}

/* line 121, ../scss/prefectira.scss */
.maruwkinskoe {
  top: 20px;
  left: 330px;
}

/* line 125, ../scss/prefectira.scss */
.filimonovskoe {
  top: 35px;
  left: 545px;
}

/* line 129, ../scss/prefectira.scss */
.krasnopaharskoe {
  top: 300px;
  left: 470px;
}

/* line 133, ../scss/prefectira.scss */
.prefectira-analitics {
  margin: 30px 0;
}

/* line 136, ../scss/prefectira.scss */
.analitics-block {
  overflow: hidden;
}

/* line 139, ../scss/prefectira.scss */
.ablock {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 30px 0 0 30px;
  width: 236px;
}

/* line 148, ../scss/prefectira.scss */
.block-blue {
  background-image: -moz-linear-gradient(138deg, #2270c1 0%, #2e93fc 100%);
  background-image: -webkit-linear-gradient(138deg, #2270c1 0%, #2e93fc 100%);
  background-image: -ms-linear-gradient(138deg, #2270c1 0%, #2e93fc 100%);
  box-shadow: 0 2px 5px 0 rgba(7, 10, 14, 0.3);
  height: 236px;
  display: block;
  width: 100%;
  position: relative;
}
/* line 158, ../scss/prefectira.scss */
.block-blue:hover {
  background-color: #19528e;
}
/* line 161, ../scss/prefectira.scss */
.block-blue span {
  font-weight: 900;
  color: #fff;
  display: block;
  position: absolute;
  bottom: 30px;
  left: 30px;
  max-width: 100%;
}
/* line 170, ../scss/prefectira.scss */
.block-blue i {
  font-size: 40px;
  color: white;
  line-height: 0.5;
  text-shadow: 0 2px 5px rgba(7, 10, 14, 0.3);
  position: absolute;
  top: 30px;
  right: 30px;
}

@media (max-width: 1920px) {
  /* line 182, ../scss/prefectira.scss */
  .ablock {
    width: 205px;
  }
  /* line 184, ../scss/prefectira.scss */
  .ablock .block-blue {
    height: 205px;
  }
}
@media (max-width: 1770px) {
  /* line 190, ../scss/prefectira.scss */
  .ablock {
    width: 160px;
  }
  /* line 192, ../scss/prefectira.scss */
  .ablock .block-blue {
    height: 160px;
  }
  /* line 194, ../scss/prefectira.scss */
  .ablock .block-blue span {
    bottom: 15px;
    left: 15px;
  }
  /* line 198, ../scss/prefectira.scss */
  .ablock .block-blue i {
    top: 15px;
    right: 15px;
  }
}
@media (max-width: 1550px) {
  /* line 207, ../scss/prefectira.scss */
  .ablock {
    width: 110px;
  }
  /* line 209, ../scss/prefectira.scss */
  .ablock .block-blue {
    height: 110px;
  }
  /* line 211, ../scss/prefectira.scss */
  .ablock .block-blue span {
    bottom: 10px;
    left: 10px;
    font-size: 12px;
  }
  /* line 216, ../scss/prefectira.scss */
  .ablock .block-blue i {
    font-size: 20px;
    top: 10px;
    right: 10px;
  }

  /* line 223, ../scss/prefectira.scss */
  .omap {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
    margin: -50px -75px;
  }
}
@media (max-width: 1360px) {
  /* line 235, ../scss/prefectira.scss */
  .omap {
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    -o-transform: scale(0.6);
    transform: scale(0.6);
    margin: -200px -150px;
  }
}
@media (max-width: 1150px) {
  /* line 247, ../scss/prefectira.scss */
  .omap {
    margin: -150px -125px;
  }

  /* line 250, ../scss/prefectira.scss */
  .photo {
    float: none;
    display: block;
    margin: 0 0 30px;
    max-width: 168px;
  }

  /* line 256, ../scss/prefectira.scss */
  .prefectura-info p {
    padding-left: 0;
  }
}
@media (max-width: 960px) {
  /* line 262, ../scss/prefectira.scss */
  .g-aside_right {
    display: none;
  }

  /* line 265, ../scss/prefectira.scss */
  .g-content {
    padding-right: 0;
  }

  /* line 268, ../scss/prefectira.scss */
  .omap {
    margin: -200px -70px;
  }
}
