﻿/********************************************General********************************************************/
body{
    font: 16px 'Open Sans', sans-serif;
    background: #fff;

}
* {
    outline: none;
}
.clearfix:after{
    content: '';
    display: block;
    clear: both;
    overflow: hidden;
}
a{
    cursor: pointer;
    color: #222;
}
.modal{
    display: none;
}
.wrapper{
    width: 980px;
    margin: 0 auto;
}
.hidden {
    visibility: hidden;
}
.logo{
    float: left;
    margin: 6px 0 0 30px;
}
.logo img{
    float: left;
}
.logo p{
    float: left;
    color: #fff;
    font-size: 18px;
    margin: 5px 0 0 30px;
}
header{
    background: #2e93fc; /* Old browsers */
    background: -moz-linear-gradient(top,  #2e93fc 0%, #2270c1 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #2e93fc 0%,#2270c1 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #2e93fc 0%,#2270c1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e93fc', endColorstr='#2270c1',GradientType=0 ); /* IE6-9 */
    -webkit-box-shadow: -1px 2px 5px 0px rgba(7, 10, 14, 0.3);
    -moz-box-shadow:    -1px 2px 5px 0px rgba(7, 10, 14, 0.3);
    box-shadow:         -1px 2px 5px 0px rgba(7, 10, 14, 0.3);
    padding: 0 10px;
    box-sizing: border-box;
    height: 50px;

}
.toggle_menu a{
    display: block;
    width: 30px;
    height: 24px;
    background: url("../images/ico1.png") no-repeat;
    margin: 12px 0 0 0;
}
.toggle_menu{
    float: left;
    border-right: 1px solid #19528e;
    height: 100%;
    padding-right: 10px;
}
.button{
    display: inline-block;
    padding: 15px 30px;
    color: #fff;
    font-size: 14px;
}
.button span{
    margin-right: 5px;
}
.button:hover{
    background: #2675c7;
}
.login_block{
    float: right;
}
.left_menu{
    box-sizing: border-box;
    padding-top: 10px;
    overflow: hidden;
}
.left_menu a{
    color: #fff;
    display: block;
}
.left_menu li{
    list-style: none;
    width: 250px;
}
.left_menu>ul>li{
}
.left_menu>ul>li>a{
font-size: 14px;
    display: block;
    padding: 10px 0 10px 36px;
    box-sizing: border-box;
}
.left_menu>ul>li>a>.lm_col{
    color: #e67f22;
}
.left_menu>ul>.lm_title{
    padding-left: 0;
    margin-top: 10px;
}
.left_menu>ul>.lm_title>a{
    text-transform: uppercase;
    font-weight: 700;
    padding-left: 10px;
}
.left_menu>ul>.lm_title>a>span{
    margin-right: 10px;
    display: block;
    float: left;
}
.left_menu ul li ul li a{
    padding: 10px 0 10px 34px;
}
.left_menu ul li ul.second_level li a{
padding: 10px 0 10px 46px;
}
.left_menu ul li>ul li a:hover{
    background: #133f6e;
}
.left_menu ul li>ul{
    background: #16487d;
}
.left_menu ul .lm_bg1{
    background: #16487d;
}
.toggle_link>a{
    position: relative;
}
.toggle_link a span{
    position: absolute;
    right: 20px;
    top: 15px;
}



/*new*/
.b_table{
    height: 100%;
    min-height: 800px;
}
.login_bg{
    width: 100%;
    height: 100%;
    background: url("../images/bg1.jpg") no-repeat center 0;
    background-size: cover;
}
.main_forma_wp{
    height: 100%;
    display: table;
    width: 460px;
  margin: 0 auto;
}
.main_forma1{
     width: 460px;
    display: table-cell;
    vertical-align: middle;
 }
.main_forma{
    width: 460px;
    height: 720px;
    background: #fff;
    box-sizing: border-box;
    padding: 35px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.main_title{
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 10px;
}
.main_logo{
    text-align: left;
}
.main_text{
    font-weight: 300;
    margin-bottom: 5px;
}
.form_1 .input1{
    width: 340px;
    height: 55px;
    display: block;
    margin: 0 auto;
    box-sizing: border-box;
    padding-left: 60px;
    border: 2px solid #315efb;
    margin-bottom: 25px;
}
.i_log{
    background: url("../images/ico2.png") no-repeat 15px 15px;
}
.i_pass{
    background: url("../images/ico3.png") no-repeat 15px 15px;
}
.mf_btn{
    display: block;
    width: 340px;
    height: 60px;
    margin: 0 auto;
    box-sizing: border-box;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 21, 93, 0.35);
    -moz-box-shadow:    0px 3px 5px 0px rgba(0, 21, 93, 0.35);
    box-shadow:         0px 3px 5px 0px rgba(0, 21, 93, 0.35);
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    background: #315efb;
    padding-top: 15px;
    margin-top: 20px;
}
.mf_check input[type="checkbox"]{
    visibility: hidden;
}
.mf_check input[type="checkbox"] + label::before{
    content: "";
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px 0 0;
   background: url("../images/check3.png") no-repeat;
    float: left;
}
.mf_check input[type="checkbox"]:checked + label::before {
    background-position: 0 -20px;
}
.mf_check label{
    float: left;
    font-size: 14px;
    font-weight: 300;
}
.repair_link{
float: right;
    color: #315efb;
    font-size: 14px;
    font-weight: 300;
    text-decoration: underline;
    margin-right: 25px;
}
.mf_check {
    float: left;
    margin-left: 25px;
}
.mf_info{
    font-size: 14px;
    font-weight: 300;
    padding: 0 80px;
    margin-top: 30px;
}
.mf_info a{
    font-weight: 600;
    display: block;
}
.form_1{
    margin-top: 20px;
}
/***********************/
.expand_outer {
    height: 0;
    overflow: hidden;
}
.expand_outer_2 {
    height: auto;
    overflow: hidden;
}
.expand_link {
    position: relative;
}
.expand_link span{
    position: absolute;
    right: 20px;
    top: 15px;
}
.mf_title{
    font-size: 18px;
    padding: 20px 30px;
}
.modal_forma{
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    padding: 15px 30px;
    box-sizing: border-box;
}
.mf_block p{
    float: left;
    font-size: 14px;
    font-weight: 700;
    width: 200px;
    margin-top: 10px;
}
.mf_block input{
    float: left;
    width: 310px;
    height: 40px;
    box-sizing: border-box;
    border: 1px solid #ebebeb;
    padding-left: 10px;
    font-size: 14px;
}
.mf_block select{
    float: left;
    /*
    width: 310px;
    height: 40px;
    */
    box-sizing: border-box;
    border: 1px solid #ebebeb;
    color: #333;
    padding-left: 10px;
}
.mf_block{
    margin-bottom: 7px;
}
.modal_btn{
    display: inline-block;
    color: #fff;
    text-align: center;
    font-size: 14px;
    border-radius: 5px;
    border-bottom: 3px solid #14508e;
    padding: 10px 28px;
    background: #2578cf;
    margin-left: 30px;
    margin-top: 30px;
}
.mf_block time{
    float: left;
    color: #333;
    font-size: 14px;
    margin-top: 10px;
}
.bfb1{
    margin-bottom: 20px;
}
.mf_attention{
    font-size: 13px;
    color: #777;
    padding: 15px 0 0 30px;
}
.modal-close {
    background: url("../images/close.png");
    width: 11px;
    height: 14px;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;

}
.mf_block .i_calender{
    position: relative;
}
.mf_block .i_calender:before{
    content: '';
    width: 20px;
    height: 22px;
    display: block;
    background: url("../images/ico4.png") no-repeat;
    position: absolute;
    right: 0;
    top: 0;
}
.plus_link{
    position: relative;
}
.plus_ico{
    position: absolute;
    right: 20px;
    top: 15px;
}

/*new page 26.07.2016*/
.main_content{
width: 100%;
}
.main_content h1{
    font-size: 24px;
}
.search_block{
    position: relative;
    width: 304px;
    height: 40px;
    box-sizing: border-box;
    border: 1px solid #e0e0e0;
    margin-bottom: 34px;
}
.search_block input{
    width: 250px;
    height: 100%;
    border: none;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    padding-left: 20px;
}
.search_block a{
    display: inline-block;
    width: 47px;
    height: 100%;
    background: url("../images/ico5.png") no-repeat center center;
    box-sizing: border-box;
    border-left: 1px solid #e0e0e0;
    vertical-align: middle;
}
aside{
    position: absolute;
    top: 50px;
}
.left_menu{
    width: 250px;
    background: #1f67b3; /* Old browsers */
    background: -moz-linear-gradient(left,  #1f67b3 0%, #19528e 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #1f67b3 0%,#19528e 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #1f67b3 0%,#19528e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f67b3', endColorstr='#19528e',GradientType=1 ); /* IE6-9 */
    -webkit-box-shadow: -1px 2px 3px 0px rgba(7, 10, 14, 0.5);
    -moz-box-shadow:    -1px 2px 3px 0px rgba(7, 10, 14, 0.5);
    box-shadow:         -1px 2px 3px 0px rgba(7, 10, 14, 0.5);
    position: relative;
}
.left_menu.active{
    -webkit-box-shadow: none;
    -moz-box-shadow:    none;
    box-shadow:         none;
}

.left_menu:before{
    content: '';
    width: 32px;
    height: 100%;
    position: fixed;
    top: 50px;
    left: 0;
    z-index: -1;
    background: #1f67b3; /* Old browsers */
    background: -moz-linear-gradient(left,  #1f67b3 0%, #19528e 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #1f67b3 0%,#19528e 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #1f67b3 0%,#19528e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f67b3', endColorstr='#19528e',GradientType=1 ); /* IE6-9 */
    -webkit-box-shadow: -1px 2px 3px 0px rgba(7, 10, 14, 0.5);
    -moz-box-shadow:    -1px 2px 3px 0px rgba(7, 10, 14, 0.5);
    box-shadow:         -1px 2px 3px 0px rgba(7, 10, 14, 0.5);
}

.top_btn{
    box-sizing: border-box;
    background: #f4f4f4;
    padding: 10px;
    border-right: 1px solid #e0e0e0;
}
.top_btn a{
    font-size: 14px;
    display: inline-block;
    padding: 6px 20px;
    border-radius: 5px;
    background: #fff;
    border: 1px solid #e0e0e0;
}
.address_table{
    width: 100%;
    margin-top: 160px;
}
.address_table_wp{
    width: 100%;
    overflow-x: scroll;
    border-right: 1px solid #e0e0e0;
    margin-top: 10px;
    margin-bottom: 30px;
}
.address_table td{
    padding: 20px 0 0 0;
    border-right: 1px solid #e0e0e0;
    vertical-align: top;
    box-sizing: border-box;
}
.address_table tr{

}
.at_td1{
    width: 220px;!important;
    min-width: 220px;!important;
}
.at_td2{
    width: 190px;
    min-width: 190px;
}
.at_td3{
    width: 190px;
    min-width: 190px;
}
.at_td4{
    width: 190px;
    min-width: 190px;
}
.at_td5{
    width: 190px;
    min-width: 190px;
}
.address_table td p{
    font-size: 14px;
    padding-left: 15px;
    padding-right: 30px;
}
.address_table .at_caption:hover{
    background: #fff;
}
.address_table .at_caption1:hover{
    background: #fff;
}
.address_table tr:hover{
    background: #f4f4f4;
}
.address_table .at_caption td p{
    font-size: 14px;
    font-weight: 700;
    padding-left: 15px;
    width: 140px;
    padding-right: 0;
}
thead {
    position: absolute;
    top: 40px;
    background: #fff;
    z-index: 7000;
}
thead.grafik_head {
    position: absolute;
    top: 0;
    background: #fff;
    z-index: 7000;
    width: 1500px;
}
#scroller {
    width: 100%;
    height: 0;
}
.at_caption td{
    height: 70px;
    vertical-align: top;
    padding: 0;
    position: relative;
}
.address_table .at_caption1 td{
    padding: 0;
    height: 35px;
}
.address_table .o_c_1{
    vertical-align: middle;
}
.address_table .o_c_2{
  text-align: center;
}
.address_table .at_caption1 td p{
    font-size: 14px;
    padding-left: 15px;
}
.sort_link{
    width: 15px;
    height: 14px;
    position: absolute;
    right: 20px;
    top: 3px;
    z-index: 100;
    content: '\e150';
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none;
    opacity: 0.4;
}
.sort_link:hover{
    text-decoration: none;
}
thead td:hover .sort_link{
    opacity: 1;
}

.sort_link:before{
    content: '\e150';
}
.sorting_asc .sort_link:before{
    content: '\e155';
}
.sorting_desc .sort_link:before{
    content: '\e156';
}
.at_choice td{
    background: #f4f4f4;
    padding: 10px 14px;
}
.at_choice select{
    width: 100%;
    height: 34px;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
    color: #9f9f9f;
    font-size: 14px;
    box-sizing: border-box;
}
.title_bg_1{
    background: #f4f4f4;
    padding: 15px 0 15px 30px;
    margin: 0 0 30px 0;
}
.application_choice input[type="checkbox"] {
    display:none;
}
.application_choice label{
    display: inline-block;
    vertical-align: middle;
}
.application_choice input[type="checkbox"] + label::before {
    content: "";
    display: inline-block;
    height: 14px;
    width: 14px;
    margin: 0 5px 0 0;
background: url("../images/check6.png") no-repeat;
   vertical-align: middle;
  margin-top: -4px;
}
.application_choice input[type="checkbox"]:checked + label::before {
    background-position: 0 -14px;
}
.ac_bg1{
    background: #ecb489;
}
.ac_bg2{
    background: #3086d5;
}
.ac_bg3{
    background: #9ce1ab;
}
.ac_bg4{
    background: #e6cf8f;
}
.application_choice{
    display: inline-block;
    border-radius: 5px;
    font-size: 14px;
    padding: 10px 20px;
    margin-bottom: 20px;
}
.application_choice_wp{
    margin-bottom: 50px;
}
.application_left_column{

}
.application_right_column{
    background: #fff;
    width: 270px;
    box-sizing: border-box;
    position: absolute;
    top: 144px;
    right: 0;
}
.application_table_wp{
    width: 100%;
    overflow-x: scroll;
}
.application_table_wp1{
    width: 100%;
}
.app_td1{
    width: 150px;
    min-width: 150px;
}
.app_td2{
    width: 150px;
    min-width: 150px;
}
.app_td3{
    width: 160px;
    min-width: 160px;
}
.app_td4{
    width: 240px;
    min-width: 240px;
}
.app_td5{
    width: 150px;
    min-width: 150px;
}
.app_td6{
    width: 150px;
    min-width: 150px;
}
.app_td7{
    width: 150px;
    min-width: 150px;
}
.app_td8{
    width: 160px;
    min-width: 160px;
}
.application_table {
    margin-top: 140px;
}
.application_table1 {
    margin-top: 20px;
}
.application_table td{
    width: 209px;
    min-width: 209px;
    max-width: 209px;
    padding: 20px 0 10px 0;
    border-right: 1px solid #e0e0e0;
}
.application_table td p{
    font-size: 14px;
    padding-left: 15px;
}
.application_table .appt_caption td{
    position: relative;
    padding-top: 0;
    padding-bottom: 20px;
}
.application_table .appt_caption td p{
    padding-left: 15px;
    font-size: 14px;
    font-weight: 700;
}
.application_table .at_choice td{
    background: #f4f4f4;
    padding: 10px 14px;
}
.app_btn{
    color: #fff;
    font-size: 14px;
    background: #2164c7;
    border-radius: 5px;
    padding: 5px 20px;
    border-bottom: 2px solid #174890;
}
.app_td7{
    text-align: center;
}
.app_td8{
    text-align: center;
}
.app_td8 a{
    margin: 0 10px;
}
.app_btn_inactive{
background: #bcd0ee;
    border-bottom: 2px solid #b9c8dd;
}
.important_block{
    border: 1px solid #da6913;
    box-sizing: border-box;
    -webkit-box-shadow: 2px 2px 2px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    2px 2px 2px 0px rgba(50, 50, 50, 0.5);
    box-shadow:         2px 2px 2px 0px rgba(50, 50, 50, 0.5);
}
.important_title{
    background: #da6913;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    padding: 15px 0;
    margin-bottom: 15px;
}
.important_data{
    font-size: 14px;
    font-weight: 700;

}
.important_text{
margin-top: 5px;
    font-size: 14px;
}
.important_link{
    text-align: right;
    margin-top: 10px;
}
.important_link a{
    text-decoration: underline;
    color: #2164c7;
    font-size: 14px;
}
.important_btn{
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    padding: 10px 0;
    margin: 0 auto;
    display: block;
    background: #da6913;
    border-bottom: 2px solid #a55112;
    margin-top: 20px;
}
.important_info{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 15px;
}
.banner_block{
    background: #f4f4f4;
    -webkit-box-shadow: 2px 2px 2px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    2px 2px 2px 0px rgba(50, 50, 50, 0.5);
    box-shadow:         2px 2px 2px 0px rgba(50, 50, 50, 0.5);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px 20px 5px 20px;
    margin-top: 30px;
}
.banner_block a{
    display: block;
    margin-bottom: 30px;
}
.banner_block img{

}
.add_app_wp a{
    display: inline-block;
    color: #fff;
    font-size: 14px;
    background: #2164c7;
    padding: 8px 20px;
    border-radius: 5px;
    border-bottom: 2px solid #174890;
}
.add_app_wp a i{
    margin-right: 7px;
}
.sb_fl{
float: left;
}
.add_app_wp{
    float: right;
}


.app1_td1{
   width: 40%;
    border-right: 1px solid #e6e6e6;
    font-size: 14px;
}
.app1_td1 p{

}
.app1_td2{
  width: 60%;
}
.application_table1{
   width: 100%;
    border-top: 1px solid #e6e6e6;
}
.application_table1 tr{
}
.application_table1 td{
    padding: 20px 0 10px 0;
}
.application_table td p{
    font-size: 14px;
    padding-left: 15px;
}
.application_table1 .appt_caption td{
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
}
.application_table1 .appt_caption td p{
    padding-left: 15px;
    font-size: 14px;
    font-weight: 700;
}
.application_table .at_choice td{
    background: #f4f4f4;
    padding: 10px 14px;
}
.app_btn{
    color: #fff;
    font-size: 14px;
    background: #2164c7;
    border-radius: 5px;
    padding: 5px 20px;
    border-bottom: 2px solid #174890;
}
.app_td7{
    text-align: center;
}
.app_td8{
    text-align: center;
}
.app_td8 a{
    margin: 0 10px;
}
.app_btn_inactive{
    background: #bcd0ee;
    border-bottom: 2px solid #b9c8dd;
}
.app1_td2 a{
    color: #fff;
    font-size: 14px;
    background: #2164c7;
    border-radius: 5px;
    padding: 5px 40px;
    border-bottom: 2px solid #174890;
    margin-left: 15px;
}
.at_choice .app1_td1{
    padding-left: 15px;
    padding-right: 15px;
}
.grafik_table td{
    border: 1px solid #e6e6e6;
    box-sizing: border-box;
}
.grafik_table{
    width: 100%;
    text-align: center;
    font-size: 11px;
    margin-top: 160px;
}
.grafik_table .text_left{
    text-align: left;
    padding-left: 5px;
}
.grafik_table .text_right{
    text-align: right;
    padding-right: 5px;
}
.text_bold{
    font-weight: 700;
}
.gtc_td1{
    width: 100px;
    min-width: 100px;
}
.gtc_td2{
    width: 350px;
    min-width: 350px;
    max-width: 350px;
    padding: 10px 0;
}
.gtc_td7{
    width: 30px;
    min-width: 30px;
}
.gtc_td8{
    width: 320px;
    min-width: 320px;
}
.gt_td1{
    width: 120px;
    min-width: 120px;
    max-width: 120px;
}
.gt_td2{
    width: 40px;
    min-width: 40px;
    max-width: 40px;
}
.gt_td3{
    width: 80px;
    min-width: 80px;
    max-width: 80px;
}
.gt_td4{
    width: 30px;
    min-width: 30px;
    max-width: 30px;
}
.gt_td5{
    width: 40px;
    min-width: 40px;
    max-width: 40px;
}
.gt_td6{
    width: 30px;
    min-width: 30px;
    max-width: 30px;
}
.gt_td7{
    width: 40px;
    min-width: 40px;
    max-width: 40px;
}
.gt_td8{
    width: 60px;
    min-width: 60px;
    max-width: 60px;
}
.gt_td9{
    width: 40px;
    min-width: 40px;
    max-width: 40px;
}
.gt_td10{
    width: 60px;
    min-width: 60px;
    max-width: 60px;
}
.gt_td11{
    width: 60px;
    min-width: 60px;
    max-width:60px;
}
.gt_td12{
    width: 40px;
    min-width: 40px;
    max-width: 40px;
}
.gt_td13{
    width: 40px;
    min-width: 40px;
    max-width: 40px;
}
.gt_td14{
    width: 60px;
    min-width: 60px;
    max-width: 60px;
}
.gt_td15{
    width: 60px;
    min-width: 60px;
    max-width: 60px;
}
.gt_td16{
    width: 70px;
    min-width: 70px;
    max-width: 70px;
}
.gt_td17{
    width: 40px;
    min-width: 40px;
    max-width: 40px;
}
.gt_td18{
    width: 100px;
    min-width: 100px;
    max-width: 100px;
}
.gt_td19{
    width: 90px;
    min-width: 90px;
    max-width: 90px;
}
.gt_td20{
    width: 40px;
    min-width:40px;
    max-width: 40px;
}
.gt_td21{
    width: 80px;
    min-width: 80px;
    max-width: 80px;
}
.gt_td22{
    width: 40px;
    min-width: 40px;
    max-width: 40px;
}
.gt_td23{
    width: 40px;
    min-width: 40px;
    max-width: 40px;
}
.gt_td24{
    width: 60px;
    min-width: 60px;
    max-width: 60px;
}
.gt_td25{
    width: 60px;
    min-width: 60px;
    max-width: 60px;
}
.gt_td26{
    width: 60px;
    min-width: 60px;
    max-width: 60px;
}
.gt_td27{
    width: 60px;
    min-width: 60px;
    max-width: 60px;
}




.grafik_table_wp{
    width: 100%;
    overflow-x: scroll;
    position: relative;
    padding-top: 126px;
    margin-top: 10px;
}
.grafik_table tbody{
    position: static;
    left: 0;
}
.grafik_table thead{
    position: static;
    left: 0;
}
.search_period{
    float: left;
    margin-top: 5px;
}
.search_period select{
    width: 140px;
    height: 40px;
    border: 1px solid #e6e6e6;
    box-sizing: border-box;
    font-size: 14px;
    margin-right: 40px;
  display: inline-block;
    vertical-align: middle;
}
.search_period span{
    font-size: 14px;
    font-weight: 700;
    margin-right: 7px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 40px;
}
.address_table td {
    width: 220px!important;
    min-width: 220px!important;
    max-width: 220px!important;
}
.app_choice_block{
    float: left;
    margin-right: 50px;
    margin-bottom: 20px;
}
.app_choice1{
    margin-bottom: 30px;
}
.acb1 input[type="checkbox"]{
    display: none;
}
.acb1 input[type="checkbox"] + label::before{
    content: "";
    display: inline-block;
    height: 18px;
    width: 18px;
    margin: 0 8px 0 0;
    background: url("../images/check7.png") no-repeat;
   vertical-align: middle;
    margin-top: -3px;
}
.acb1 input[type="checkbox"]:checked + label::before {
    background-position: 0 -18px;
}
.acb1 label{
    font-size: 14px;
    font-weight: 300;
}
.acb2 input[type="checkbox"]{
    display: none;
}
.acb2 input[type="checkbox"] + label::before{
    content: "";
    display: inline-block;
    height: 18px;
    width: 18px;
    margin: 0 8px 0 0;
    background: url("../images/check8.png") no-repeat;
    vertical-align: middle;
    margin-top: -3px;
}
.acb2 input[type="checkbox"]:checked + label::before {
    background-position: 0 -18px;
}
.acb2 label{
    font-size: 14px;
    font-weight: 300;
}
.acb3 input[type="checkbox"]{
    display: none;
}
.acb3 input[type="checkbox"] + label::before{
    content: "";
    display: inline-block;
    height: 18px;
    width: 18px;
    margin: 0 8px 0 0;
    background: url("../images/check9.png") no-repeat;
    vertical-align: middle;
    margin-top: -3px;
}
.acb3 input[type="checkbox"]:checked + label::before {
    background-position: 0 -18px;
}
.acb3 label{
    font-size: 14px;
    font-weight: 300;
}
.acb4 input[type="checkbox"]{
    display: none;
}
.acb4 input[type="checkbox"] + label::before{
    content: "";
    display: inline-block;
    height: 18px;
    width: 18px;
    margin: 0 8px 0 0;
    background: url("../images/check11.png") no-repeat;
    vertical-align: middle;
    margin-top: -3px;
}
.acb4 input[type="checkbox"]:checked + label::before {
    background-position: 0 -18px;
}
.acb4 label{
    font-size: 14px;
    font-weight: 300;
}
.app_choice_link{
    padding: 5px 20px;
    font-size: 14px;
    color: #fff;
    border-radius: 5px;
    margin-right: 10px;
  display: inline-block;
}
.acl1{
    background: #e84c3d;
    border-bottom: 2px solid #b03b30;
}
.acl2{
    background: #8db7e2;
    border-bottom: 2px solid #87a8ca;
}
.acl3{
    background: #91e1b3;
    border-bottom: 2px solid #8bc3a3;
}
.acl4{
    background: #e7d296;
    border-bottom: 2px solid #cbbc91;
}
.application_table_wp2{
    overflow-x: scroll;
}
.application_table_wp2 .jspVerticalBar {
    display: none;
}
.grafik_table_wp .jspVerticalBar {
    display: none;
}
.application_table2{
    width: 100%;
    font-size: 14px;
    margin-top: 150px;
    padding-bottom: 300px;
}
.application_table2 tbody{
    position: absolute;
}
.application_table2 td{
    border-right: 1px solid #d3d3d3;
}
.app2_td1{
    width: 40px!important;
    min-width: 40px!important;
    max-width: 40px!important;
}
.app2_td2{
    width: 100px!important;
    min-width: 100px!important;
    max-width: 100px!important;
}
.app2_td3{
    width: 130px!important;
    min-width: 130px!important;
    max-width: 130px!important;
}
.app2_td4{
    width: 130px!important;
    min-width: 130px!important;
    max-width: 130px!important;
}
.app2_td5{
    width: 240px!important;
    min-width: 240px!important;
    max-width: 240px!important;
}
.app2_td6{
    width: 170px!important;
    min-width: 170px!important;
    max-width: 170px!important;
}
.app2_td7{
    width: 410px!important;
    min-width: 410px!important;
    max-width: 410px!important;
}
.app2_td8{
    width: 130px!important;
    min-width: 130px!important;
    max-width: 130px!important;
}
.app2_td9{
    width: 220px!important;
    min-width: 220px!important;
    max-width: 220px!important;
}
.select_block{
    min-width: 180px;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #d3d3d3;
    position: relative;
    background: #fff url('../images/arrow_big.png') no-repeat right 0;
    cursor: pointer;
}
.select_block.sb2{
    min-width: 100px;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #d3d3d3;
    position: relative;
    background: #fff url('../images/arrow_big.png') no-repeat right 0;
    cursor: pointer;
}
.select_block.active {
    min-width: 180px;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #d3d3d3;
    position: relative;
    background: #fff url('../images/arrow_big.png') no-repeat right -30px;
}
.select_text {
    padding-left: 10px;
    padding-top: 4px;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
}
.application_table2 td{
    padding: 10px 0;
}
.application_table2 .appt_caption td{
    position: relative;
    padding-top: 0;
    padding-bottom: 20px;
}
.application_table2 .appt_caption td p{
    padding-left: 15px;
    font-size: 14px;
    font-weight: 700;
}
.application_table2 .at_choice td{
    background: #f4f4f4;
    padding: 10px 14px;
}
.application_table_wp2{
    margin-top: 40px;
}
.app2_td2{
    text-align: center;
}
.app2_td2 a{
    margin: 0 12px;
}
.text_p1 p{
    padding-left: 15px;
}
.app_setting_btn{
    display: inline-block;
    font-size: 14px;
    padding: 5px 20px;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    background: #fff;
    margin-right: 10px;
}
.app_setting_wp{
    padding: 10px;
    box-sizing: border-box;
    background: #f6f6f6;
    margin-bottom: 20px;
}
.app_download_link{
    padding: 5px 20px 5px 35px;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    background: #fff;
    float: right;
    background: url("../images/ico11.png") no-repeat 15px 8px;
}
.mf_p1{
    box-sizing: border-box;
    padding: 0 15px 15px 15px;
}
.app_s_block{
    float: left;
}
.mft_bord{
    border-bottom: 1px solid #ebebeb;
}
.mf_choice_block{
    font-size: 14px;
    margin-bottom: 15px;
}
.mf_choice_block label{
    margin-left: 15px;
}
.group_column{
    border-right: 1px solid #ebebeb;
    width: 50%;
    float: left;
    padding-top: 15px;
}
.gc_wp{
    border-bottom: 1px solid #ebebeb;
}
.add_choice_link{
    border: 1px solid #ebebeb;
    background: #f6f6f6;
    border-radius: 5px;
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    margin-bottom: 15px;
}
.add_choice_link span{
    margin-left: 30px;
}
.gc_pl{
    box-sizing: border-box;
    padding-left: 10px;
    padding-top: 15px;
}
.m_btn1{
    float: left;
    margin-top: 10px;
}
.mf_attention1{
    font-size: 13px;
    color: #777;
    float: right;
    margin-top: 25px;
}
.st_choice_block{
    font-size: 14px;
    height: 300px;
    overflow-y: scroll;
    border-bottom: 1px solid #ebebeb;
}
.select_toggle_block{
    position: absolute;
    left: 0;
    top: 30px;
    width: 380px;
    background: #fff;
    z-index: 9999;
    box-sizing: border-box;
    padding: 15px;
    -webkit-box-shadow: 3px 4px 10px 0px rgba(50, 50, 50, 0.3);
    -moz-box-shadow:    3px 4px 10px 0px rgba(50, 50, 50, 0.3);
    box-shadow:         3px 4px 10px 0px rgba(50, 50, 50, 0.3);
    opacity: 0;
    display: none;
}
.st_choice_sub_block{
    margin-left: 30px;
    margin-top: 15px;
}
.st_choice_sub_block div{
    margin-bottom: 15px;
}
.st_width{
    position: relative;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    border: 1px solid #e0e0e0;
    margin-bottom: 34px;
}
.st_width input{
    width: 78%;
    height: 100%;
    border: none;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    padding-left: 20px;
    float: left;
}
.st_width a{
    display: inline-block;
    width: 12%;
    height: 100%;
    background: url("../images/ico5.png") no-repeat center center;
    box-sizing: border-box;
    border-left: 1px solid #e0e0e0;
    vertical-align: middle;
    float: right;
}
.m_btn_bg1{
    background: #e6e6e6;
    color: #000;
    border-bottom: 3px solid #d2d2d2;
}
.m_btn_m1{
    margin-left: 0;
}
.ui-datepicker-calendar thead {
    position: static;
    top: auto;
    background: #fff;
    z-index: 7000;
}
.application_right_column .ui-datepicker-inline {
    margin-top: 30px;
    width: 270px!important;
}
.application_right_column .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: red;
    background: #fff;
    font-weight: normal;
    color: #555;
}
.application_right_column .ui-datepicker td span, .ui-datepicker td a {
    display: block;
    padding: 0;
    text-align: center;
    text-decoration: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 8px;
}
.application_right_column .ui-datepicker td {
    border: 0;
    padding: 0;
    text-align: center;
    width: 37px;
    height: 37px;
    position: relative;
    font-size: 15px;
    color: #000;
}
.application_right_column .ui-datepicker-calendar thead th span {
    text-transform: uppercase;
    font-weight: 300;
}
.application_right_column .ui-widget-header {
    background: #2578cf;
    color: #fff;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 14px;
    height: 50px;
}
.application_right_column .ui-datepicker {
    width: 17em;
    padding: 0;
    display: none;
}
.application_right_column .ui-datepicker-inline * {
    border-radius: 0;
}
.application_right_column .ui-datepicker table {
    margin: 0;
}
.application_right_column .ui-widget-content {
    border: none;
    background: #fff;
    color: #222;
}
.application_right_column .ui-state-active {
    border-radius: 37px;
    color: #fff;
    background: #2578cf;
}
.application_right_column .ui-datepicker .ui-datepicker-title {
    margin: 0 2.3em;
    line-height: 1.8em;
    text-align: center;
    margin-top: 8px;
}

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
    position: absolute;
    top: 0;
    width: 14px;
    height: 50px;
}
.application_right_column .ui-datepicker-prev span {
    background: url('../images/date-prev.png') no-repeat center center;
    left: 22px;
}
.application_right_column .ui-datepicker-next span {
    background: url('../images/date-next.png') no-repeat center center;
    right: 22px;
}
.application_right_column .ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
    display: block;
    position: absolute;
    left: 0;
    margin-left: 0;
    top: 0;
    margin-top: 0;
    width: 100%;
    height: 100%;
}

.ui-datepicker .ui-datepicker-prev:hover, .ui-datepicker .ui-datepicker-next:hover {
    background-color: transparent;
    border: none;
}
.ui-datepicker .ui-datepicker-prev {
    left: 22px;
}
.ui-datepicker .ui-datepicker-next {
    right: 22px;
}
.application_right_column .ui-datepicker .ui-datepicker-prev-hover,.ui-datepicker .ui-datepicker-next-hover{top:0}
.application_right_column .ui-datepicker .ui-datepicker-prev-hover{left:22px}
.application_right_column .ui-datepicker .ui-datepicker-next-hover{right:22px}
.application_right_column .ui-state-hover,.ui-widget-content .ui-state-hover,.ui-widget-header .ui-state-hover,.ui-state-focus,.ui-widget-content .ui-state-focus,.ui-widget-header .ui-state-focus{border:none;background:#dadada url("images/ui-bg_glass_75_dadada_1x400.png") 50% 50% repeat-x;font-weight:normal;color:#212121}

.grafik_table1 td{
    border-right: 1px solid #e6e6e6;
    box-sizing: border-box;
    padding: 15px 0;
}
.grafik_table1{
    width: 100%;
    font-size: 14px;
    margin-top: 165px;
}
.grafik_table1.gt2{
    width: 100%;
    font-size: 14px;
    margin-top: 90px;
}
.grafik_table1.gt2 tbody{
    position: absolute;
}
.grafik_table1 .gt_caption{
    font-weight: 700;
}
.grafik_table1 .gt_caption td{
    border-bottom: 1px solid #e6e6e6;
    padding-left: 5px;
}
.grafik_table1 .text_left{
    text-align: left;
    padding-left: 5px;
}
.grafik_table1 .text_right{
    text-align: right;
    padding-right: 5px;
}
.gt1_td1{
    width: 240px;
    min-width: 240px;
}
.gt1_td2{
    width: 230px;
    min-width: 230px;
}
.gt1_td3{
    width: 130px;
    min-width: 130px;
}
.gt1_td4{
    width: 230px;
    min-width: 230px;
}
.gt1_td5{
    width: 270px;
    min-width: 270px;
}
.gt1_td6{
    width: 250px;
    min-width: 250px;
}
.td_bord_top td{
    border-top: 1px solid #e6e6e6;
}
.grafik_tabs li{
    float: left;
    list-style: none;
    margin-right: 10px;
}
.grafik_tabs{
    border-bottom: 1px solid #d3d3d3;
}
.grafik_tabs li a{
    display: inline-block;
    padding: 15px 20px;
    background: #f8f8f8;
    border-radius: 5px 5px 0 0;
    position: relative;
    border: 1px solid #fff;
}
.grafik_tabs li a:hover{
    background: #fff;
    border-top: 1px solid #d3d3d3;
    border-left: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;
    top: 1px;
}
.grafik_tabs li .active{
    background: #fff;
    border-top: 1px solid #d3d3d3;
    border-left: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;
    top: 1px;
}
.tabs {
    display: none;
}
#tab_1 {
    display: block;
}
td.at_td5:last-child .select_toggle_block {
    left: auto;
    right: 0;
}
td:last-child .select_toggle_block {
    left: auto;
    right: 0;
}
.grafik_table {
    margin-top: 20px;
}
.grafik_table tbody{
    position: static;
    left: 0;
}
.grafik_table thead{
    position: static;
    left: 0;
}
/*Новая страница Вход 4.08.2016*/
.town_wp{
    width: 100%;
    height: 479px;
    background: url("../images/bg2.jpg") no-repeat center 0;
    box-sizing: border-box;
    padding: 30px;
    margin-bottom: 30px;
}
.arc_town{
    top: 648px;
}
.town_title{
    margin-bottom: 0;
}
.town_label img{
    display: inline-block;
    vertical-align: middle;
}
.town_label span{
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    font-weight: 600;
    background: #fff;
    padding: 10px 40px;
    position: relative;
    top: -5px;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 2px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 2px 5px 0px rgba(50, 50, 50, 0.75);
}
.town_subtitle{
    font-size: 18px;
}
.title_bg_2{
    background: #f4f4f4;
    padding: 13px 0 13px 30px;
    margin: 0 0 30px 0;
}
.information_block_wp{

}
.information_block{
    width: 240px;
    height: 240px;
    margin: 0 12px;
    float: left;
    position: relative;
    margin-bottom: 20px;
    background: #2e93fc; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #2e93fc 0%, #2270c1 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #2e93fc 0%,#2270c1 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #2e93fc 0%,#2270c1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e93fc', endColorstr='#2270c1',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
.information_block i{
    font-size: 40px;
    color: #fff;
    position: absolute;
    right: 30px;
    top: 25px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

.information_block span{
    display: table-cell;
    vertical-align: bottom;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
}
.information_block:hover{
    background: #1a5593;
}
.information_block a{
    height: 240px;
    width: 100%;
    display: table;
    box-sizing: border-box;
    padding: 30px;
}
.cf_mb{
    margin-bottom: 30px;
}


/* GLOBAL STYLES */
/* line 386, ../scss/style.scss */
.g-header {
    position: relative;
    width: 100%;
    display: block;
}

/* line 393, ../scss/style.scss */
.main_screen {
    position: relative;
}

/* line 396, ../scss/style.scss */
.g-aside_left {
    position: absolute;
    left: 0;
    overflow-y: auto;
    overflow-x: hidden;
    background: #1f67b3;
    /* Old browsers */
    background: -moz-linear-gradient(left, #1f67b3 0%, #19528e 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #1f67b3 0%, #19528e 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #1f67b3 0%, #19528e 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f67b3', endColorstr='#19528e',GradientType=1 );
    /* IE6-9 */
    -webkit-box-shadow: -1px 2px 3px 0px rgba(7, 10, 14, 0.5);
    -moz-box-shadow: -1px 2px 3px 0px rgba(7, 10, 14, 0.5);
    box-shadow: -1px 2px 3px 0px rgba(7, 10, 14, 0.5);
    z-index: 10;
}

/* line 415, ../scss/style.scss */
.left_menu {
    width: 250px;
    float: left;
    padding: 0 0;
}

/* line 420, ../scss/style.scss */
.g-aside_right {
    position: absolute;
    top: 100px;
    right: 0;
    left: auto!important;
    overflow: hidden;
    max-width: 340px;
    padding: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 10;
}

/* line 433, ../scss/style.scss */
.g-content {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 250px;
    padding-right: 340px;
}
/* line 440, ../scss/style.scss */
.g-content.fullcontent {
    padding-left: 32px;
}

/* line 445, ../scss/style.scss */
.h-str {
    padding-right: 0;
    background: #f6f6f6;
    width: 100%;
}
/* line 449, ../scss/style.scss */
.h-str h1 {
    font-size: 24px;
    line-height: 27px;
    color: #333;
    margin: 0;
    padding: 14px 0 16px 29px;
}
/* line 456, ../scss/style.scss */
.h-str h2 {
    font-size: 18px;
    line-height: 27px;
    color: #333;
    margin: 0;
    padding: 14px 0 16px 29px;
}

/* line 466, ../scss/style.scss */
.panel {
    font-size: 14px;
}
/* line 469, ../scss/style.scss */
.panel.panel-important {
    border: 1px solid #e67f22;
    border-radius: 0;
}
/* line 472, ../scss/style.scss */
.panel.panel-important .panel-heading {
    background: #e67f22;
    text-align: center;
    color: #fff;
}
/* line 476, ../scss/style.scss */
.panel.panel-important .panel-heading h5 {
    font-weight: 900;
    line-height: 1.5;
}
/* line 481, ../scss/style.scss */
.panel.panel-important .more {
    text-align: right;
}
/* line 483, ../scss/style.scss */
.panel.panel-important .more a {
    text-decoration: underline;
}
/* line 485, ../scss/style.scss */
.panel.panel-important .more a:hover {
    text-decoration: none;
}
/* line 490, ../scss/style.scss */
.panel.panel-important .button-ok {
    border-radius: 4px;
    background-color: #e67f22;
    box-shadow: inset 0px -2px 0 0 rgba(167, 94, 28, 0.75);
    width: 100%;
    display: block;
    color: #fff;
    padding: 10px 0;
    border: none;
}
/* line 499, ../scss/style.scss */
.panel.panel-important .button-ok i {
    padding-right: 10px;
}
/* line 502, ../scss/style.scss */
.panel.panel-important .button-ok:hover {
    background: #bf6616;
}
/* line 507, ../scss/style.scss */
.panel.panel-brn {
    background-color: #f6f6f6;
    -webkit-box-shadow: 0 2px 5px 0 rgba(7, 10, 14, 0.3);
    -moz-box-shadow: 0 2px 5px 0 rgba(7, 10, 14, 0.3);
    box-shadow: 0 2px 5px 0 rgba(7, 10, 14, 0.3);
    padding: 20px;
}
/* line 513, ../scss/style.scss */
.panel.panel-brn img {
    max-width: 100%;
}
/* line 516, ../scss/style.scss */
.panel.panel-brn a {
    margin-bottom: 20px;
    display: block;
}
/* line 519, ../scss/style.scss */
.panel.panel-brn a:last-child {
    margin-bottom: 0;
}

/* line 525, ../scss/style.scss */
.g-calendar {
    margin-bottom: 30px;
}
/* line 527, ../scss/style.scss */
.g-calendar .datepicker table {
    background: #f6f6f6;
    box-shadow: 0 2px 5px 0 rgba(7, 10, 14, 0.3);
}
/* line 530, ../scss/style.scss */
.g-calendar .datepicker table thead {
    border-bottom: 1px solid #ebebeb;
}
/* line 534, ../scss/style.scss */
.g-calendar .datepicker table thead tr:nth-child(2) {
    background: #2578cf;
}
/* line 536, ../scss/style.scss */
.g-calendar .datepicker table thead tr:nth-child(2) th {
    border-radius: 0;
    color: #fff;
    font-weight: 900;
    text-transform: uppercase;
    padding: 15px 0;
}
/* line 544, ../scss/style.scss */
.g-calendar .datepicker table thead tr:nth-child(2):hover th {
    background: #2578cf;
}

/*!
 * Datepicker for Bootstrap v1.6.1 (https://github.com/eternicode/bootstrap-datepicker)
 *
 * Copyright 2012 Stefan Petre
 * Improvements by Andrew Rowls
 * Licensed under the Apache License v2.0 (http://www.apache.org/licenses/LICENSE-2.0)
 */
/* line 8, ../scss/bootstrap-datepicker.scss */
.datepicker {
    padding: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    direction: ltr;
}

/* line 15, ../scss/bootstrap-datepicker.scss */
.datepicker-inline {
    max-width: 280px;
    width: 100%;
}

/* line 19, ../scss/bootstrap-datepicker.scss */
.datepicker.datepicker-rtl {
    direction: rtl;
}

/* line 22, ../scss/bootstrap-datepicker.scss */
.datepicker.datepicker-rtl table tr td span {
    float: right;
}

/* line 25, ../scss/bootstrap-datepicker.scss */
.datepicker-dropdown {
    top: 0;
    left: 0;
}

/* line 29, ../scss/bootstrap-datepicker.scss */
.datepicker-dropdown:before {
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #999999;
    border-top: 0;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    position: absolute;
}

/* line 39, ../scss/bootstrap-datepicker.scss */
.datepicker-dropdown:after {
    content: '';
    display: inline-block;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ffffff;
    border-top: 0;
    position: absolute;
}

/* line 48, ../scss/bootstrap-datepicker.scss */
.datepicker-dropdown.datepicker-orient-left:before {
    left: 6px;
}

/* line 51, ../scss/bootstrap-datepicker.scss */
.datepicker-dropdown.datepicker-orient-left:after {
    left: 7px;
}

/* line 54, ../scss/bootstrap-datepicker.scss */
.datepicker-dropdown.datepicker-orient-right:before {
    right: 6px;
}

/* line 57, ../scss/bootstrap-datepicker.scss */
.datepicker-dropdown.datepicker-orient-right:after {
    right: 7px;
}

/* line 60, ../scss/bootstrap-datepicker.scss */
.datepicker-dropdown.datepicker-orient-bottom:before {
    top: -7px;
}

/* line 63, ../scss/bootstrap-datepicker.scss */
.datepicker-dropdown.datepicker-orient-bottom:after {
    top: -6px;
}

/* line 66, ../scss/bootstrap-datepicker.scss */
.datepicker-dropdown.datepicker-orient-top:before {
    bottom: -7px;
    border-bottom: 0;
    border-top: 7px solid #999999;
}

/* line 71, ../scss/bootstrap-datepicker.scss */
.datepicker-dropdown.datepicker-orient-top:after {
    bottom: -6px;
    border-bottom: 0;
    border-top: 6px solid #ffffff;
}

/* line 76, ../scss/bootstrap-datepicker.scss */
.datepicker > div {
    display: none;
}

/* line 79, ../scss/bootstrap-datepicker.scss */
.datepicker table {
    margin: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%;
}

/* line 89, ../scss/bootstrap-datepicker.scss */
.datepicker td,
.datepicker th {
    text-align: center;
    width: 20px;
    height: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: none;
}

/* line 99, ../scss/bootstrap-datepicker.scss */
.table-striped .datepicker table tr td,
.table-striped .datepicker table tr th {
    background-color: transparent;
}

/* line 103, ../scss/bootstrap-datepicker.scss */
.datepicker table tr td.day:hover,
.datepicker table tr td.day.focused {
    background: #eeeeee;
    cursor: pointer;
}

/* line 108, ../scss/bootstrap-datepicker.scss */
.datepicker table tr td.old,
.datepicker table tr td.new {
    color: #999999;
}

/* line 112, ../scss/bootstrap-datepicker.scss */
.datepicker table tr td.disabled,
.datepicker table tr td.disabled:hover {
    background: none;
    color: #999999;
    cursor: default;
}

/* line 118, ../scss/bootstrap-datepicker.scss */
.datepicker table tr td.highlighted {
    background: #d9edf7;
    border-radius: 0;
}

/* line 122, ../scss/bootstrap-datepicker.scss */
.datepicker table tr td.today,
.datepicker table tr td.today:hover,
.datepicker table tr td.today.disabled,
.datepicker table tr td.today.disabled:hover {
    background-color: #2578cf;
    background-image: -moz-linear-gradient(to bottom, #2578cf, #2b85e4);
    background-image: -ms-linear-gradient(to bottom, #2578cf, #2b85e4);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2578cf), to(#2b85e4));
    background-image: -webkit-linear-gradient(to bottom, #2578cf, #2b85e4);
    background-image: -o-linear-gradient(to bottom, #2578cf, #2b85e4);
    background-image: linear-gradient(to bottom, #2578cf, #2b85e4);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2578cf', endColorstr='#2b85e4', GradientType=0);
    border-color: #2578cf #2578cf #2b85e4;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    color: #fff;
    font-weight: 900;
}

/* line 141, ../scss/bootstrap-datepicker.scss */
.datepicker table tr td.today:hover,
.datepicker table tr td.today:hover:hover,
.datepicker table tr td.today.disabled:hover,
.datepicker table tr td.today.disabled:hover:hover,
.datepicker table tr td.today:active,
.datepicker table tr td.today:hover:active,
.datepicker table tr td.today.disabled:active,
.datepicker table tr td.today.disabled:hover:active,
.datepicker table tr td.today.active,
.datepicker table tr td.today:hover.active,
.datepicker table tr td.today.disabled.active,
.datepicker table tr td.today.disabled:hover.active,
.datepicker table tr td.today.disabled,
.datepicker table tr td.today:hover.disabled,
.datepicker table tr td.today.disabled.disabled,
.datepicker table tr td.today.disabled:hover.disabled,
.datepicker table tr td.today[disabled],
.datepicker table tr td.today:hover[disabled],
.datepicker table tr td.today.disabled[disabled],
.datepicker table tr td.today.disabled:hover[disabled] {
    background-color: #2b85e4;
}

/* line 163, ../scss/bootstrap-datepicker.scss */
.datepicker table tr td.today:active,
.datepicker table tr td.today:hover:active,
.datepicker table tr td.today.disabled:active,
.datepicker table tr td.today.disabled:hover:active,
.datepicker table tr td.today.active,
.datepicker table tr td.today:hover.active,
.datepicker table tr td.today.disabled.active,
.datepicker table tr td.today.disabled:hover.active {
    background-color: #2b85e4 \9;
}

/* line 173, ../scss/bootstrap-datepicker.scss */
.datepicker table tr td.today:hover:hover {
    color: #000;
}

/* line 176, ../scss/bootstrap-datepicker.scss */
.datepicker table tr td.today.active:hover {
    color: #fff;
}

/* line 179, ../scss/bootstrap-datepicker.scss */
.datepicker table tr td.range,
.datepicker table tr td.range:hover,
.datepicker table tr td.range.disabled,
.datepicker table tr td.range.disabled:hover {
    background: #eeeeee;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

/* line 188, ../scss/bootstrap-datepicker.scss */
.datepicker table tr td.range.today,
.datepicker table tr td.range.today:hover,
.datepicker table tr td.range.today.disabled,
.datepicker table tr td.range.today.disabled:hover {
    background-color: #2578cf;
    background-image: -moz-linear-gradient(to bottom, #2578cf, #2b85e4);
    background-image: -ms-linear-gradient(to bottom, #2578cf, #2b85e4);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2578cf), to(#2b85e4));
    background-image: -webkit-linear-gradient(to bottom, #2578cf, #2b85e4);
    background-image: -o-linear-gradient(to bottom, #2578cf, #2b85e4);
    background-image: linear-gradient(to bottom, #2578cf, #2b85e4);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2578cf', endColorstr='#2b85e4', GradientType=0);
    border-color: #2578cf #2578cf #2b85e4;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

/* line 208, ../scss/bootstrap-datepicker.scss */
.datepicker table tr td.range.today:hover,
.datepicker table tr td.range.today:hover:hover,
.datepicker table tr td.range.today.disabled:hover,
.datepicker table tr td.range.today.disabled:hover:hover,
.datepicker table tr td.range.today:active,
.datepicker table tr td.range.today:hover:active,
.datepicker table tr td.range.today.disabled:active,
.datepicker table tr td.range.today.disabled:hover:active,
.datepicker table tr td.range.today.active,
.datepicker table tr td.range.today:hover.active,
.datepicker table tr td.range.today.disabled.active,
.datepicker table tr td.range.today.disabled:hover.active,
.datepicker table tr td.range.today.disabled,
.datepicker table tr td.range.today:hover.disabled,
.datepicker table tr td.range.today.disabled.disabled,
.datepicker table tr td.range.today.disabled:hover.disabled,
.datepicker table tr td.range.today[disabled],
.datepicker table tr td.range.today:hover[disabled],
.datepicker table tr td.range.today.disabled[disabled],
.datepicker table tr td.range.today.disabled:hover[disabled] {
    background-color: #2b85e4;
}

/* line 230, ../scss/bootstrap-datepicker.scss */
.datepicker table tr td.range.today:active,
.datepicker table tr td.range.today:hover:active,
.datepicker table tr td.range.today.disabled:active,
.datepicker table tr td.range.today.disabled:hover:active,
.datepicker table tr td.range.today.active,
.datepicker table tr td.range.today:hover.active,
.datepicker table tr td.range.today.disabled.active,
.datepicker table tr td.range.today.disabled:hover.active {
    background-color: #2b85e4 \9;
}

/* line 240, ../scss/bootstrap-datepicker.scss */
.datepicker table tr td.selected,
.datepicker table tr td.selected:hover,
.datepicker table tr td.selected.disabled,
.datepicker table tr td.selected.disabled:hover {
    background-color: #9e9e9e;
    background-image: -moz-linear-gradient(to bottom, #b3b3b3, #808080);
    background-image: -ms-linear-gradient(to bottom, #b3b3b3, #808080);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#b3b3b3), to(#808080));
    background-image: -webkit-linear-gradient(to bottom, #b3b3b3, #808080);
    background-image: -o-linear-gradient(to bottom, #b3b3b3, #808080);
    background-image: linear-gradient(to bottom, #b3b3b3, #808080);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b3b3b3', endColorstr='#808080', GradientType=0);
    border-color: #808080 #808080 #595959;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

/* line 259, ../scss/bootstrap-datepicker.scss */
.datepicker table tr td.selected:hover,
.datepicker table tr td.selected:hover:hover,
.datepicker table tr td.selected.disabled:hover,
.datepicker table tr td.selected.disabled:hover:hover,
.datepicker table tr td.selected:active,
.datepicker table tr td.selected:hover:active,
.datepicker table tr td.selected.disabled:active,
.datepicker table tr td.selected.disabled:hover:active,
.datepicker table tr td.selected.active,
.datepicker table tr td.selected:hover.active,
.datepicker table tr td.selected.disabled.active,
.datepicker table tr td.selected.disabled:hover.active,
.datepicker table tr td.selected.disabled,
.datepicker table tr td.selected:hover.disabled,
.datepicker table tr td.selected.disabled.disabled,
.datepicker table tr td.selected.disabled:hover.disabled,
.datepicker table tr td.selected[disabled],
.datepicker table tr td.selected:hover[disabled],
.datepicker table tr td.selected.disabled[disabled],
.datepicker table tr td.selected.disabled:hover[disabled] {
    background-color: #808080;
}

/* line 281, ../scss/bootstrap-datepicker.scss */
.datepicker table tr td.selected:active,
.datepicker table tr td.selected:hover:active,
.datepicker table tr td.selected.disabled:active,
.datepicker table tr td.selected.disabled:hover:active,
.datepicker table tr td.selected.active,
.datepicker table tr td.selected:hover.active,
.datepicker table tr td.selected.disabled.active,
.datepicker table tr td.selected.disabled:hover.active {
    background-color: #666666 \9;
}

/* line 291, ../scss/bootstrap-datepicker.scss */
.datepicker table tr td.active,
.datepicker table tr td.active:hover,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active.disabled:hover {
    background-color: #006dcc;
    background-image: -moz-linear-gradient(to bottom, #0088cc, #0044cc);
    background-image: -ms-linear-gradient(to bottom, #0088cc, #0044cc);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
    background-image: -webkit-linear-gradient(to bottom, #0088cc, #0044cc);
    background-image: -o-linear-gradient(to bottom, #0088cc, #0044cc);
    background-image: linear-gradient(to bottom, #0088cc, #0044cc);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#0044cc', GradientType=0);
    border-color: #0044cc #0044cc #002a80;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

/* line 310, ../scss/bootstrap-datepicker.scss */
.datepicker table tr td.active:hover,
.datepicker table tr td.active:hover:hover,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active.disabled:hover:hover,
.datepicker table tr td.active:active,
.datepicker table tr td.active:hover:active,
.datepicker table tr td.active.disabled:active,
.datepicker table tr td.active.disabled:hover:active,
.datepicker table tr td.active.active,
.datepicker table tr td.active:hover.active,
.datepicker table tr td.active.disabled.active,
.datepicker table tr td.active.disabled:hover.active,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active:hover.disabled,
.datepicker table tr td.active.disabled.disabled,
.datepicker table tr td.active.disabled:hover.disabled,
.datepicker table tr td.active[disabled],
.datepicker table tr td.active:hover[disabled],
.datepicker table tr td.active.disabled[disabled],
.datepicker table tr td.active.disabled:hover[disabled] {
    background-color: #0044cc;
}

/* line 332, ../scss/bootstrap-datepicker.scss */
.datepicker table tr td.active:active,
.datepicker table tr td.active:hover:active,
.datepicker table tr td.active.disabled:active,
.datepicker table tr td.active.disabled:hover:active,
.datepicker table tr td.active.active,
.datepicker table tr td.active:hover.active,
.datepicker table tr td.active.disabled.active,
.datepicker table tr td.active.disabled:hover.active {
    background-color: #003399 \9;
}

/* line 342, ../scss/bootstrap-datepicker.scss */
.datepicker table tr td span {
    display: block;
    width: 23%;
    height: 54px;
    line-height: 54px;
    float: left;
    margin: 1%;
    cursor: pointer;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

/* line 354, ../scss/bootstrap-datepicker.scss */
.datepicker table tr td span:hover,
.datepicker table tr td span.focused {
    background: #eeeeee;
}

/* line 358, ../scss/bootstrap-datepicker.scss */
.datepicker table tr td span.disabled,
.datepicker table tr td span.disabled:hover {
    background: none;
    color: #999999;
    cursor: default;
}

/* line 364, ../scss/bootstrap-datepicker.scss */
.datepicker table tr td span.active,
.datepicker table tr td span.active:hover,
.datepicker table tr td span.active.disabled,
.datepicker table tr td span.active.disabled:hover {
    background-color: #006dcc;
    background-image: -moz-linear-gradient(to bottom, #0088cc, #0044cc);
    background-image: -ms-linear-gradient(to bottom, #0088cc, #0044cc);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
    background-image: -webkit-linear-gradient(to bottom, #0088cc, #0044cc);
    background-image: -o-linear-gradient(to bottom, #0088cc, #0044cc);
    background-image: linear-gradient(to bottom, #0088cc, #0044cc);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#0044cc', GradientType=0);
    border-color: #0044cc #0044cc #002a80;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

/* line 383, ../scss/bootstrap-datepicker.scss */
.datepicker table tr td span.active:hover,
.datepicker table tr td span.active:hover:hover,
.datepicker table tr td span.active.disabled:hover,
.datepicker table tr td span.active.disabled:hover:hover,
.datepicker table tr td span.active:active,
.datepicker table tr td span.active:hover:active,
.datepicker table tr td span.active.disabled:active,
.datepicker table tr td span.active.disabled:hover:active,
.datepicker table tr td span.active.active,
.datepicker table tr td span.active:hover.active,
.datepicker table tr td span.active.disabled.active,
.datepicker table tr td span.active.disabled:hover.active,
.datepicker table tr td span.active.disabled,
.datepicker table tr td span.active:hover.disabled,
.datepicker table tr td span.active.disabled.disabled,
.datepicker table tr td span.active.disabled:hover.disabled,
.datepicker table tr td span.active[disabled],
.datepicker table tr td span.active:hover[disabled],
.datepicker table tr td span.active.disabled[disabled],
.datepicker table tr td span.active.disabled:hover[disabled] {
    background-color: #0044cc;
}

/* line 405, ../scss/bootstrap-datepicker.scss */
.datepicker table tr td span.active:active,
.datepicker table tr td span.active:hover:active,
.datepicker table tr td span.active.disabled:active,
.datepicker table tr td span.active.disabled:hover:active,
.datepicker table tr td span.active.active,
.datepicker table tr td span.active:hover.active,
.datepicker table tr td span.active.disabled.active,
.datepicker table tr td span.active.disabled:hover.active {
    background-color: #003399 \9;
}

/* line 415, ../scss/bootstrap-datepicker.scss */
.datepicker table tr td span.old,
.datepicker table tr td span.new {
    color: #999999;
}

/* line 419, ../scss/bootstrap-datepicker.scss */
.datepicker .datepicker-switch {
    width: 145px;
}

/* line 422, ../scss/bootstrap-datepicker.scss */
.datepicker .datepicker-switch,
.datepicker .prev,
.datepicker .next,
.datepicker tfoot tr th {
    cursor: pointer;
}

/* line 428, ../scss/bootstrap-datepicker.scss */
.datepicker .datepicker-switch:hover,
.datepicker .prev:hover,
.datepicker .next:hover,
.datepicker tfoot tr th:hover {
    background: #eeeeee;
}

/* line 434, ../scss/bootstrap-datepicker.scss */
.datepicker .cw {
    font-size: 10px;
    width: 12px;
    padding: 0 2px 0 5px;
    vertical-align: middle;
}

/* line 440, ../scss/bootstrap-datepicker.scss */
.input-append.date .add-on,
.input-prepend.date .add-on {
    cursor: pointer;
}

/* line 444, ../scss/bootstrap-datepicker.scss */
.input-append.date .add-on i,
.input-prepend.date .add-on i {
    margin-top: 3px;
}

/* line 448, ../scss/bootstrap-datepicker.scss */
.input-daterange input {
    text-align: center;
}

/* line 451, ../scss/bootstrap-datepicker.scss */
.input-daterange input:first-child {
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
}

/* line 456, ../scss/bootstrap-datepicker.scss */
.input-daterange input:last-child {
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
}

/* line 461, ../scss/bootstrap-datepicker.scss */
.input-daterange .add-on {
    display: inline-block;
    width: auto;
    min-width: 16px;
    height: 18px;
    padding: 4px 5px;
    font-weight: normal;
    line-height: 18px;
    text-align: center;
    text-shadow: 0 1px 0 #ffffff;
    vertical-align: middle;
    background-color: #eeeeee;
    border: 1px solid #ccc;
    margin-left: -5px;
    margin-right: -5px;
}
.table-condensed thead {
    position: static;
}
/*новые страницы 11.08.2016 план-график и лента*/

.fg_description{
    font-size: 14px;
    float: left;
}
.fg_description p{
    margin-bottom: 5px;
}
.fg_description span{
    display: inline-block;
    vertical-align: middle;
}
.fg_description img{
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
.fg_block{
    float: left;
    width: 100px;
    height: 40px;
    box-sizing: border-box;
    padding: 6px 16px;
    margin-top: 5px;
    position: relative;
}
.fg_block input[type="radio"]{
    display: none;
}
.fg_block input[type="radio"] + label::before{
    content: "";
    display: inline-block;
    height: 14px;
    width: 14px;
    margin: 7px 15px 0 0;
    background: url("../images/check6.png") no-repeat;
    float: left;
}
.fg_block input[type="radio"]:checked + label::before {
    background-position: 0 -14px;
}
.fg_block label{
    float: left;
    font-size: 14px;
    font-weight: 300;
}
.fg_bg1{
    background: #c8fbde;
    border-radius: 5px 0 0 5px;
    margin-left: 40px;
}
.fg_bg2{
    background: #77b5f7;
}
.fg_bg3{
    background: #fbd3cf;
}
.fg_bg4{
    background: #e3ceed;
}
.fg_bg5{
    background: #fdf1d0;
    border-radius: 0 5px 5px 0;
}
.filtr_grafik_wp{
    margin-bottom: 50px;
}
.sb_m1{
    margin-left: 20px;
}
.td_bg1 td{
    background: #77b5f7;
}
.td_bg2 td{
    background: #49f391;
}
.grafik_table3 td{
    padding: 10px 5px;
    vertical-align: middle;
    border: 1px solid #ebebeb;
}
.grafik_table3 td p{
    margin: 0;
}
.grafik_table3 .at_td5{
    width: 140px !important;
    min-width: 140px !important;
    max-width: 140px !important;
}
.grafik_table3 .at_td3{
    width: 170px !important;
    min-width: 170px !important;
    max-width: 170px !important;
}
.grafik_table3 .at_td4{
    width: 170px !important;
    min-width: 170px !important;
    max-width: 170px !important;
}
.grafik_table3 .sort_link {
    right: 10px;
    top: 10px;

}
.grafik_table3 tbody {
    position: absolute;

}
.address_table_wp .jspVerticalBar
{
    display: none;
}
.grafik_table3 .select_block{
    min-width: 100px;
}
.grafik_table3 .at_caption td{
    vertical-align: top;
}
.fg_block_wp{
    float: left;
}
.fg_hover{
    position: absolute;
    -webkit-box-shadow: 2px 3px 5px 0px rgba(50, 50, 50, 0.35);
    -moz-box-shadow:    2px 3px 5px 0px rgba(50, 50, 50, 0.35);
    box-shadow:         2px 3px 5px 0px rgba(50, 50, 50, 0.35);
    width: 270px;
    background: #fff;
    z-index: 99999;
    font-size: 14px;
    box-sizing: border-box;
    padding: 20px 30px;
    border: 1px solid #d3d3d3;
    left: 100px;
    top: -33px;
    display: none;
    height: 100px;
}
.fg_block:hover .fg_hover{
    display: block;
}
.fg_hover:before{
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 12px 10px 0;
    border-color: transparent #d3d3d3 transparent transparent;
    position: absolute;
    left: -12px;
    top: 50%;
    margin-top: -10px;
}
.fg_hover:after{
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 9px 11px 9px 0;
    border-color: transparent #fff transparent transparent;
    position: absolute;
    left: -10px;
    top: 50%;
    margin-top: -9px;
}
.fg_hover p{
    line-height: 27px;
}
.message_list li{
    list-style: none;
    float: left;
    margin-right: 20px;
}
.message_list li a{
    text-transform: uppercase;
    font-size: 14px;
    color: #333;
}
.message_list li a i{
    margin-right: 10px;
}
.message_list{
    background: #fafafa;
    border-bottom: 1px solid #ebebeb;
    box-sizing: border-box;
    padding: 15px 30px;
}
.message_wp{
margin-bottom: 30px;
    -webkit-box-shadow: 1px 2px 5px 0px rgba(50, 50, 50, 0.55);
    -moz-box-shadow:    1px 2px 5px 0px rgba(50, 50, 50, 0.55);
    box-shadow:         1px 2px 5px 0px rgba(50, 50, 50, 0.55);
}
.f4_p1{
    padding-left: 280px;
    padding-right: 340px;
}
.message_wp textarea{
    border: none;
    width: 100%;
    height: 200px;
    box-sizing: border-box;
    padding: 15px 30px;
    resize: none;
}

.add_file_link{
    border: none;
    background: url("../images/ico20.jpg") no-repeat 0 4px;
    color: #277dd7;
    font-size: 14px;
    font-weight: 700;
    padding-left: 20px;
    margin-left: 30px;
}
.add_address_wp{
    background: #fafafa;
    border-top: 1px solid #ebebeb;
    box-sizing: border-box;
    padding: 30px;
    margin-top: 25px;
}
.add_name_wp{
    float: right;
    width: 90%;
    position: relative;
}
.name_block{
font-size: 14px;
    display: inline-block;
    padding: 7px 20px;
    background: #ebebeb;
    position: absolute;
    left: 3px;
    top: 3px;
    color: #333;
}
.add_name_link{
    font-size: 14px;
    color: #277dd7;
    font-weight: 700;
    position: absolute;
    left: 170px;
    top: 12px;
}
.name_block:hover{
    color: #333;
    text-decoration: none;
}
.name_block i{
    margin-left: 10px;
}
.add_address_wp input[type='text']{
    width: 100%;
    border: 1px solid #ebebeb;
    box-sizing: border-box;
    height: 40px;
    padding: 4px;
}
.add_address_wp span{
    float: left;
    margin-top: 10px;
}
.message_btn{
    color: #fff;
    font-size: 14px;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 5px;
    border-right: none;
    border-top: none;
    border-left: none;
    margin-top: 30px;
}
.mb_bg1{
    background: #2371c3;
    border-bottom: 2px solid #16508c;
}
.mb_bg2{
    background: #e6e6e6;
    border-bottom: 2px solid #d2d2d2;
    color: #333;
    margin-left: 25px;
}
.message_block{
    border: 1px solid #ebebeb;
    margin-bottom: 30px;
    cursor: pointer;
    -webkit-box-shadow: 1px 2px 5px 0px rgba(50, 50, 50, 0.55);
    -moz-box-shadow:    1px 2px 5px 0px rgba(50, 50, 50, 0.55);
    box-shadow:         1px 2px 5px 0px rgba(50, 50, 50, 0.55);
}
.message_block:hover{
    border: 1px solid #e67f22;
}
.mb_active{
    border: 1px solid #e67f22;
}
.message_img{
    width: 60px;
    height: 60px;
    float: left;
}
.message_img img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.message_header{
    box-sizing: border-box;
    padding: 15px 30px;
    border-bottom: 1px solid #ebebeb;
}
.message_block p{
    margin-bottom: 0;
}
.message_title_wp{
    height: 60px;
    display: table;
    float: left;
    margin-left: 30px;
}
.message_title{
    display: table-cell;
    vertical-align: middle;
}
.message_title ul li{
    list-style: none;
    float: left;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    color: #333;
    margin-right: 10px;
}
.message_title ul li a{
    color: #000;
}
.message_title ul li a i{
    font-size: 16px;
    margin-left: 10px;
}

.mt_attention{
    text-transform: uppercase;
    font-size: 14px;
    color: #e67f22;
    font-weight: 700;
    margin-top: 7px;
}
.mt_attention i{
    margin-right: 5px;
}
.mb_text{
    box-sizing: border-box;
    padding: 20px 30px;
    border-bottom: 1px solid #ebebeb;
    font-size: 14px;
    line-height: 27px;
}
.mb_add_file span{
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    margin-right: 15px;
    font-weight: 700;
}
.mb_add_file span i{
    margin-right: 10px;
}
.mb_add_file a{
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
    width: 80px;
    height: 80px;
    -webkit-box-shadow: 1px 2px 5px 0px rgba(50, 50, 50, 0.55);
    -moz-box-shadow:    1px 2px 5px 0px rgba(50, 50, 50, 0.55);
    box-shadow:         1px 2px 5px 0px rgba(50, 50, 50, 0.55);
}
.mb_add_file a img{
    width: 100%;
}
.mb_add_file{
    box-sizing: border-box;
    padding: 20px 30px;
}
.mb_dop_info{
    box-sizing: border-box;
    padding: 30px;
    border-top: 1px solid #ebebeb;
}
.mb_dop_info a{
    font-size: 14px;
    color: #277dd7;
    font-weight: 700;
    margin-right: 40px;
}
.mb_dop_info a i{
    margin-right: 10px;
}
.mb_dop_info input{
    border-radius: 4px;
    background: #e67f22 url("../images/ico21.png") no-repeat 20px center;
    box-shadow: inset 0px -2px 0 0 rgba(167, 94, 28, 0.75);
    width: 180px;
    display: block;
    color: #fff;
    padding: 10px 0;
    border: none;
    margin-top: 30px;
    padding-left: 10px;
}









@media only screen and (max-width: 1230px) {
.fg_description{
    float: none;
}
    .fg_block_wp{
        float: none;
    }
    .fg_bg1{
        margin-left: 0;
    }
}
@media only screen and (max-width: 1080px) {
    .fg_block{
        float: left;
        width: 80px;
        height: 40px;
        box-sizing: border-box;
        padding: 6px 5px;
        margin-top: 5px;
    }
}
@media only screen and (max-width: 960px) {
    .mob_pn{
        padding-right: 0;
    }
    .f4_p1{
        padding-right: 30px;
    }
    .fg_block{
        float: left;
        width: 100px;
        height: 40px;
        box-sizing: border-box;
        padding: 6px 16px;
        margin-top: 5px;
    }
}